app = "team-status"
primary_region = "lhr"

[build]
  dockerfile = "Dockerfile"

[env]
  RAILS_LOG_LEVEL = "info"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "256mb"
